@import "./vars.css";
@import "./modal.css";
@import "./select.css";
@import "./nav.css";
@import "./styles.css";
@import "./footer.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}