
@import "./vars.css";

.main-container {
    width: 80%;
    margin: auto;
}

/* css para las imagenes del header */

.gallery-3 {
    line-height: 0;
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1.4fr);
    gap: 1.3rem;
    align-items: stretch;
    /* align-items: center; */
    max-width: 1400px;
    /* Opcional: limita ancho máximo */
    margin: 0 auto;
}

.gallery-3__right {
    display: grid;
    border-radius: var(--border-radius);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.gallery-3__item {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);

    /* border-radius: var(--border-radius); */
    background: #f3f4f6;
    /* Fondo para áreas vacías */
}

.gallery-3__item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Mantiene imagen completa, respeta proporción */
    object-position: center;
}

.gallery-3__item--left {
    padding: 0;
    margin: 0;
    grid-row: span 2;
    /* border-radius: 7rem; */

    /* Ocupa las 2 filas de la derecha */
}

.gallery-3__item--left img:last-child {
    display: none;
}


/* Móvil: columna única */
@media (max-width: 768px) {
  .gallery-3 {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .gallery-3__item--left img:first-child {
    display: none;
}
.gallery-3__item--left img:last-child {
    display: block;
}

  .gallery-3__right {
    grid-template-rows: none;
    display: contents; /* Las imágenes salen del contenedor right */
  }

  .gallery-3__item {
    aspect-ratio: 16 / 9; /* Altura fija perfecta para 1920x1080 */
  }

  .gallery-3__item--left {
    order: -1; /* Va primero en móvil */
  }
}