:root {
    --color-white: #f1f1f1;
    --color-red: #f4604c;
    --color-dark: #333333;
    --background: rgba(8, 51, 3, 1);
    --ring: 0 0 0 3px rgba(45, 46, 45, 0.35);
    --color-green-blue: rgba(13, 130, 0, 0.24);
    --color-primary: #0c8038;
    --linear-gradient: linear-gradient(rgba(12, 128, 56, 0.9), rgba(12, 128, 56, 0.9));
    --shadow: 0 18px 45px rgba(24, 42, 15, 0.45);
    --shadow-cards: 0 3px 15px rgba(24, 42, 15, 0.30);
    --shadow-items: 0 3px 15px rgba(24, 42, 15, 0.10);
    --nav-border: rgba(148, 163, 184, 0.25);
    --border-radius: 0.5rem; /* 0.9rem */
    --muted: #aaaaaa;
    --radial-gradient: radial-gradient(circle at top left, #085827 0, #0c8038 55%);
    --radial-gradient-accent: radial-gradient(circle at top left, #f4604c 0, #f88070 55%);
}